.graphCard {
    padding: 15px;
    background-color: rgb(25, 25, 25);
    border-radius: 20px;
    width: 30rem !important;
    margin: 20px;
  }
  
  #chart {
    height: 300px !important;
    width: 100% !important;
    color: white !important;;
  }
  
  @media only screen and (max-width: 768px) {
    .graphCard {
      width: 20rem !important;
      margin: 10px !important;
    }
  
    #chart {
      width: 100% !important;
    }
  }
  